<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="hazelTestObject" class="javaitzen.spring.interceptors.MyLittleTestObject" />

	<bean id="hazelcastCacheAspect" class="javaitzen.spring.interceptors.HazelcastMethodAspect">
		<property name="cacheName" value="methodCache" />
		<property name="hazelcastInstance"  ref="hazInstance" />			
	</bean>
	
	<aop:config proxy-target-class="true">
		<aop:aspect ref="hazelcastCacheAspect">
			<aop:pointcut id="around" expression="execution(* theOtherBusinessMethod(..))" ></aop:pointcut>
			<aop:around pointcut-ref="around" method="aroundAdvice" ></aop:around>
		</aop:aspect>
	</aop:config>

	<bean id="hazInstance" class="com.hazelcast.core.Hazelcast" factory-method="getDefaultInstance" />

</beans>